<div
  class="{{cssClass}} {{item.type}} overflow-auto font-serif"
  autocomplete="off"
>
  <a class="sheet-header-control" data-action="toggleEditMode">
    {{#if editModeEnabled}}
      <i
        class="fa-solid fa-lock-open"
        data-tooltip="DNM.Tooltips.Sheet.LockSheet"
      ></i>
    {{else}}
      <i
        class="fa-solid fa-lock"
        data-tooltip="DNM.Tooltips.Sheet.UnlockSheet"
      ></i>
    {{/if}}
  </a>

  <div class="">
    <h1 class="">
      {{#if editModeEnabled}}
        <input
          type="text"
          name="name"
          value="{{item.name}}"
          placeholder="Trait Name"
        />
      {{else}}
        {{item.name}}
      {{/if}}
    </h1>
    {{#if @root.editModeEnabled}}
      {{#each system.tags as |tag key|}}
        <div class="flex flex-row items-center justify-start">
          <input
            type="text"
            name="system.tags.{{key}}.name"
            value="{{tag.name}}"
            placeholder="Tag"
          />
          {{numberInput
            tag.power
            name=(concat "system.tags." key ".power")
            step=1
            min=0
            max=3
          }}
          <input
            type="text"
            name="system.tags.{{key}}.group"
            value="{{tag.group}}"
            placeholder="Group"
          />
        </div>
      {{/each}}
    {{else}}
      <div class="flex flex-col items-start justify-start">

        {{! Ungrouped Tags }}
        {{#each system.sortedTags.ungrouped as |tag|}}
          <div class="mb-1 flex flex-row items-center justify-start">
            {{#if tag.power}}
              {{#times tag.power}}
                <div class="mr-1 h-3 w-3 rounded-full bg-black"></div>
              {{/times}}
            {{else}}
              <div class="mr-1 h-3 w-3 rounded-full border border-black"></div>
            {{/if}}
            <p class="text-base italic">{{tag.name}}</p>
          </div>
        {{/each}}

        {{! Grouped Tags }}
        {{#each system.sortedTags.grouped as |tags groupName|}}
          <div class="mb-2 rounded-md border border-black p-2">
            <div class="mb-1 border-b border-black pb-1 text-xs font-bold">Pick
              one tag per roll</div>
            {{#each tags as |tag|}}
              <div class="mb-1 flex flex-row items-center justify-start">
                {{#if tag.power}}
                  {{#times tag.power}}
                    <div class="mr-1 h-3 w-3 rounded-full bg-black"></div>
                  {{/times}}
                {{else}}
                  <div
                    class="mr-1 h-3 w-3 rounded-full border border-black"
                  ></div>
                {{/if}}
                <p class="text-base italic">{{tag.name}}</p>
              </div>
            {{/each}}
          </div>
        {{/each}}
      </div>
    {{/if}}

    {{#if editModeEnabled}}
      <button class="tag" data-action="addTag">
        <i class="fa-solid fa-plus"></i>
      </button>
    {{/if}}
  </div>

</div>